*{
    margin: 0;
    padding: 0;  
    /* box-sizing: border-box;  */
}

:root {
--branding-bg:rgb(254, 236, 236);
--branding-color: #6f3434;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;     
}


.menu-list {    
    max-width: 1200px;
    margin: 0 auto;
    display: flex;    
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid black;
    background: var(--branding-bg);  
   
}

.menu-list li {
    list-style: none;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 2;
    
}

.menu-list a {
    color: rgb(69, 68, 68);
    font-weight: 600;
}

.menu-list:last-child {
    padding-right: 50px;
}

#burger, [for="burger"] {
    display: none;
}

.container-header {
    max-width: 1100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.header-photo {
    width: 20%;
    padding: 0 20px;
}

.header-info {
    padding: 50px;    
}

.my-photo {
    width: 100%;
    border-radius: 50%;
    border: 10px solid var(--branding-bg);
    box-shadow: 5px 5px 5px;
}

h1 {
    font-size: 64px;
    padding-bottom: 30px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 32px;
}

h3 {
    font-size: 26px;
    padding: 20px 0;
}

h4 {
    font-size: 22px;
    padding: 20px 0;
}

.header-info h3 {
    text-align: center;
}

a {
    text-decoration: none;
}


.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: 0 auto;
}

main {
    margin: 20px auto;
}

.left-side {
    max-width: 35%;
    padding: 30px;
    background: var(--branding-bg);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.contacts {
    padding: 20px 0;
}

.item {
    padding: 0 15px;
    color: black;
}

ul {
    list-style: none;
}

.education li {
    padding-top: 10px;
}

.education p {
    font-size: 18px;
}

.bold {
    font-weight: 600;
}

.date {
    padding: 10px 0;
}
.languages {
    padding-top: 20px;
}

.languages li,
.contacts li {
    line-height: 1.8;
    font-size: 20px;
}

.right-side {
    max-width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.about p {
    font-size: 20px;
    line-height: 1.3;
    text-align: justify;   
}

.right-side h3 {
    padding: 40px 0 20px 0;
}

.skills li {
    line-height: 1.5;
    list-style:inside; 
    font-size: 20px;   
}


.projects a,
footer a {
    color: var(--branding-color);
    font-size: 20px;
    font-weight: 600;
}

pre {
    padding: 0;
    white-space:pre-line;
}
.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    max-width: 1200px;
    margin: 0 auto;
}
.rss-logo {
    width: 70px;
}

.footer-item {
    padding: 20px;
}

.author {
    text-align: right;
    padding-right: 40px;
}

@media screen and (max-width: 800px){
 .container-nav {   
    width: 80%; 
    
} 

.menu-list {
    flex-direction: column;
    border: none;   
     
}

.menu-list:last-child {
    padding-right: 10px;
}

.menu-list li {
    padding: 0;
    font-size: 16px;     
}


[for="burger"] {
    display: block;
    position: fixed;
    width: 30px;
    text-align: center;
    right: 30px;
    top: 10px;
}

[for="burger"]::before{
    content: '☰';
}

nav {
    display: none;
    position: fixed;
    top: 10px;
    right: 50px;
    margin-top: 20px;
    border-bottom: none;
    border: 1px solid black;
    background: var(--branding-bg);
    user-select: none; 
}


#burger:checked + label + nav{
    display: block;
    animation: show 1.5s ease;
}
#burger:checked + [for="burger"]::before{
    content: '✖';
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
.about p,
.skills li {
    font-size: 16px;
    line-height: 1.5;
}
}    

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
